<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Quick Uploader</title>
</head>
<div > 服务端口  <input type="number" ng-model="port"/></div>

<button class="btn btn-lg btn-primary" ng-click="startService()">启动服务</button>   <span ng-show="serverStatus"> {{serverStatus}} </span>

<div>
    <br>
    <br>
    <button class="btn btn-lg btn-primary" ng-click="openFileRoot()">查看上传目录</button>
</div>


</body>
</html>